<mat-card><h2>{{title}}</h2></mat-card>
<mat-card>
  <mat-card id="publisher-details">
      Publisher Name: <span class="bold"> {{publisher.name}} </span> <br />
      Publisher Address: <span class="bold"> {{publisher.address}} </span>
  </mat-card>

  <mat-card *ngIf="booksFromPublisher.length == 0" class="books-background" id="no-books">
    <span id="no-books">
      There are no booke in the app that were published by {{publisher.name}}
    </span>
  </mat-card>

    <mat-card *ngIf="booksFromPublisher.length > 0" class="books-background">
        <p class="book" *ngFor="let book of booksFromPublisher">
          Book Title: {{book.title}}<br />
          Genre: {{book.genre | genreTransform}} <br />
          Language: {{book.language | languageTransform}} <br />
          Number of Pages: {{book.noPages}}<br />
        </p>
    </mat-card>

</mat-card>
 
