#publisher-details {
  background-color: purple;
  border-radius: inherit;
  padding: inherit;
  color: white;
  margin-bottom: 2%;
}

.bold {
    font-weight: bold;
}

.books-background {
  background: rgba(232, 186, 104);
}

#no-books {
  font-weight: bold;
  color: red;
}

.book {
  background-color: purple;
  border-radius: inherit;
  padding: inherit;
  color: white;
}
