<mat-card>
  <h2>{{title}}</h2>
</mat-card>
<mat-card>
  <p class="user-details">
    User: <span class="bold">{{user.userName}}</span> <br />
    User Id: <span class="bold">{{user.id}}</span> <br />
    Email: <span class="bold">{{user.email}}</span> <br />
    First Name: <span class="bold">{{user.firstName}}</span> <br />
    Last Name: <span class="bold">{{user.lastName}}</span> <br />
    Age: <span class="bold">{{user.age}}</span><br />
    City: <span class="bold">{{user.city}}</span><br />
    Phone Number: <span class="bold">{{user.phoneNumber}}</span><br />
  </p>
</mat-card>
