<mat-card><h2>{{title}}</h2></mat-card>
<mat-card>
  <mat-card id="author-details">
    Author First Name: <span class="bold">{{author.firstName}}</span><br />
    Author Last Name: <span class="bold">{{author.lastName}}</span><br />
    Author Age: <span class="bold">{{author.age}} years old </span>
  </mat-card>
  <mat-card *ngIf="books.length > 0" class="books-background">
    Books written by <span class="bold">{{author.firstName}} {{author.lastName}}</span><br />
    <p class="book" *ngFor="let book of books">
      Book Title: "{{book.title}}" <br />
      The Publisher's id: {{book.publisherId}} <br />
      Genre: {{book.genre | genreTransform}}<br />
      Language: {{book.language | languageTransform}}<br />
      Number of Pages: {{book.noPages}}<br />
    </p>
  </mat-card>

  <mat-card *ngIf="books.length == 0" class="books-background" id="no-books">
     The Author does not have any books registered at the moment in the app!
  </mat-card>
</mat-card>
