<mat-card>
  <h2>{{title}}</h2>
</mat-card>
<mat-card id="centered-inside">
  <p class="xxlarge bold">Welcome to my Library Management Web App</p>
  <br /><br />
  <p class="xlarge bold">Quick Menu Tutorial</p><br />
  <p>Click on the <span class="bold">Authors</span> button to see all the authors available in the app</p><br />
  <p>Click on the <span class="bold">Books</span> button to see all the books available in the app</p><br />
  <p>Click on the <span class="bold">Publishers</span> button to see all the publishers available in the app</p><br />
  <p>Click on the <span class="bold">Home</span> button to go back to the Home page (this one)</p><br />
  <br />
  <p class="bold">More features are to come in future updates :)</p>
</mat-card>
